


.auctionview-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: center;
    padding-top: 20px;
    
}
.cardPicture{
    width: 300px;
    height: 380px;
    background-color: grey;
    margin-right: 15px;
    border: 3px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.70);
}

.right-sidebar{

    display:flex;
    margin-top: 15px;
    width:350px;
    
}

.auctionview-input{
    margin-top: 10px;
    margin-bottom:10px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(224, 224, 224);
    border-radius: 20px;;
}
 
 #auctionview-search-input{
     background-color: rgb(224, 224, 224);
     border:none;
 }
 
 #auctionview-search-button{
     background-color: rgb(224, 224, 224);
     border: none;
     width: 3rem;
     height: 1.5rem;
 }
 
 /* #auctionview-search-button:hover{
 background-color: rgb(122, 122, 122);
 } */



.auctionview-description{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(138, 138, 138);
    color:white;
    height: 100px;
    
    padding: 15px;
}

.auctionview-info{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(138, 138, 138);
    color:white;
    height: 100px;
    padding-left:5px;
    

}

.bid-list{
    padding-top: 10px;
    background-color: rgb(138, 138, 138);
    color:white;
    height: 135px;
    padding-left: 20px;
    border-radius: 10px;
    
}
.auctionContainerDiv{
    display:flex;
    justify-content: space-evenly;
}
.auctionDivSide{
    border: 1px solid rgb(138, 138, 138);
    width: 5px;
}
.auctionDivMid{
    width:205px;
    border: 0.5px solid rgb(151, 150, 150);
    height:1px;
    opacity: 0.5;
}

#endDate{
    padding: 10px;
}

#startPrice{
    padding: 10px;
}

.noBullet{

    list-style-type: none;
    padding: 0;
    margin: 0;
}