@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Josefin+Sans:ital,wght@0,600;1,600&family=Noto+Color+Emoji&family=Parisienne&family=Raleway:wght@800&family=Roboto:ital,wght@0,300;1,500&display=swap');
@font-face{
  font-family: myFirstFont;
  src: 'https://fonts.googleapis.com/css2?family=Agbalumo&family=Josefin+Sans:ital,wght@0,600;1,600&family=Noto+Color+Emoji&family=Parisienne&family=Raleway:wght@800&family=Roboto:ital,wght@0,300;1,500&display=swap';
}

.addAuction{
    display: flex;
    justify-content: center;
    font-family: 'Parisienne', cursive;
    font-weight: 10;
    font-size: 50px;
}
.container{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.logoBackground{
  display:flex;
  border-radius: 40px;
  justify-content: center;
  background-color: grey;
  width: 550px;
}
.form-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    height: 250vh;
  }
  .formInput{
    margin: 5px;
    width: 250px;
    padding-left: 10px;
    color: black;
    background-color: white;
  }
  .submit{
    width: 80px;
    height: 35px; 
  }
  #description{
    width: 270px;
    min-height: 125px;
    min-width: 250px;
    max-height: 125px;
    max-width: 250px;
    border-radius: 10px;
    margin: 5px;
    padding-left: 6px;
  }
  #description:focus{
    outline:none;
  }

  